body {
  overflow-x: hidden;
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100vw;
}

article {
  font-family: 'Segoe UI', sans-serif;
  font-size: 0.875rem;
  box-sizing: border-box;
  max-width: 990px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin: 32px auto 16px;
  padding: 16px 32px;
  background-color: #fff;

  h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 3rem;
  }

  h3 {
    margin: 24px 0 16px;
    font-size: 1.3em;
    font-weight: 600;
  }

  p {
    color: #2e2e2e;
    margin: 0 0 16px;

    &.lead {
      margin-bottom: 1rem;
      font-size: 1.5rem;
      font-weight: 300;
    }
  }

  li {
    line-height: 1.6em;
  }

  a {
    color: #1976d2;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  button {
    cursor: pointer;
    padding: 6px 10px;
    background-color: #1976d2;
    color: #fff;
    border: none;
    border-radius: 4px;

    &:focus {
      outline: none;
    }
  }

  code {
    font-size: 1.1em;
    padding: 2px 4px;
    color: #1f1f1f;
    background-color: #f0f0f0;
    border-radius: 4px;
  }

  a > code {
    color: #1976d2;
  }

  pre {
    border: 1px solid #dfdfdf;
    padding: 10px;
    margin: 0 0 8px;
    border-radius: 4px;
  }

  pre > code {
    background-color: inherit;
  }
}
